<mat-nav-list>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="toggleSideBar()" style="color: #fafafa">
    <mat-icon>search</mat-icon>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="toggleSideBar()" style="color: #fafafa">
    <mat-icon>star_border</mat-icon>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="toggleSideBar()" style="color: #fafafa">
    <mat-icon>sms</mat-icon>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="toggleSideBar()" style="color: #fafafa">
    <mat-icon>storage</mat-icon>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="toggleSideBar()" style="color: #fafafa">
    <mat-icon>home</mat-icon>
  </a>
</mat-nav-list>


